@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

/* Estilo do Cabeçalho */
header {
    margin-top: 0px;
    padding: 2em 0em;
    background-color: black;
    color: white;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-family: 'Kaushan Script', cursive;
    font-size: 10em;
    text-align: center;
}

p#ref {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font: normal 1em Roboto;
}

a.link_ref {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

a.link_ref:hover {
    color: chocolate;
}

/* Estilo do conteúdo */
section {
    margin: 0px;
    padding: 0em 2em;
}

p {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}